In [1]:
import pandas as pd
import firebase_admin
from firebase_admin import credentials, firestore

cred = credentials.Certificate(
    "../data/iuh-19529651-b4591-firebase-adminsdk-ykvzr-3be3e73702.json")
firebase_admin.initialize_app(cred)
dbFireStore = firestore.client()

In [14]:
queryResults = list(dbFireStore.collection("tbl-19529651").select(['PRICEEACH', 'QUANTITYORDERED', 'SALES']).stream())
listQueryResult = list(map(lambda x: x.to_dict(), queryResults))

df = pd.DataFrame(listQueryResult)
df

        SALES  PRICEEACH  QUANTITYORDERED
0     3159.96      92.94               34
1     2819.88      67.14               42
2     2694.72      64.16               42
3     4860.24     100.00               21
4     7036.89     100.00               49
...       ...        ...              ...
2818  7737.93     100.00               41
2819  1331.10      49.30               27
2820  7667.14     100.00               37
2821  3288.82      96.73               34
2822  2797.41      84.77               33

[2823 rows x 3 columns]

In [2]:
queryResults = list(dbFirebase.collection(u'tbl-19529651').stream())
listQueryResult = list(map(lambda x : x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResult)
gb = df.groupby(['MONTH_ID', 'YEAR_ID'])['ORDERNUMBER'].count()
df = pd.DataFrame(gb)
# df
a = df.idxmax()
a

In [ ]:
queryResults = list(dbFirebase.collection(u'tbl-19529651').where(u'COUNTRY', u'==', 'USA').stream())
listQueryResult = list(map(lambda x : x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResult)
df

In [ ]:
queryResults = list(dbFirebase.collection(u'tbl-19529651')
.where(u'YEAR_ID', u'==', 2005)
.where(u'QTR_ID', u'==', 1)
.stream())
listQueryResult = list(map(lambda x : x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResult)
df

Sinh viên tự học thêm các truy vấn trên google cloud store cho no sql  
đọc tài liệu về json  
đọc lài tài liệu về no sql  
https://firebase.google.com/docs/firestore/query-data/get-data

### Project: xây dựng Dashboard khám phá danh mục tiềm năng

#### yêu cầu

Trên firebase 
Project name: `iuh-<mã sinh viên>`  
Database name: `db-<mã sinh viên>`  
Collection name: `tbl-<mã sinh viên>`